@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  --font-sans: "Figtree", "Inter", "Geist", sans-serif;
  --font-serif: "Source Serif 4", Georgia, serif;
  --font-mono: "Geist Mono", monospace;
}

.theme-light,
.theme-dark {
  --color-red: #ec2b2e;
  --color-orange: #ec7500;
  --color-yellow: #f3ab12;
  --color-green: #82c507;
  --color-cyan: #0abdc7;
  --color-blue: #1fbff4;
  --color-purple: #b76de8;
  --color-pink: #ea6cbc;

  --caret-color: var(--color-accent);
  --text-selection: var(--color-accent);
  --text-highlight-bg: var(--color-accent);
}

body {
  /* Content */
  --line-height-normal: 1.6;
  --line-height-heading: 1.2;
  --table-line-height: var(--line-height-normal);

  --p-spacing: 16px;
  --list-item-spacing: 4px;
  --list-indent-editing: 2px;

  --h1-font: var(--font-mono);
  --h2-font: var(--font-sans);
  --h3-font: var(--font-sans);
  --h4-font: var(--font-sans);
  --h5-font: var(--font-sans);
  --h6-font: var(--font-mono);

  --h1-size: 1em;
  --h1-weight: 450;
  --h2-size: 2.25em;
  --h2-weight: 550;
  --h3-size: 1.75em;
  --h3-weight: 550;
  --h4-size: 1.25em;
  --h4-weight: 600;
  --h5-size: 1.1em;
  --h5-weight: 600;
  --h6-size: 1em;
  --h6-weight: 550;

  --link-color: inherit;
  --link-color-hover: var(--text-accent);
  --link-decoration: none !important;
  --link-decoration-hover: underline;
  --link-unresolved-color: inherit;
  --link-external-color: inherit;
  --link-external-color-hover: var(--text-accent);
  --link-external-decoration: none !important;
  --link-external-decoration-hover: underline;

  --code-background: var(--color-base-10);
  --code-white-space: 24px;
  --code-border-radius: 4px;
  --code-border-width: 0px;

  --icon-color: var(--color-base-50);
  --metadata-label-width: 200px;
  --metadata-label-font-size: 12px;
  --metadata-input-font-size: 14px;
  --metadata-input-text-color: var(--text-muted);

  --callout-radius: 8px;
  --checkbox-radius: 4px;

  /* UI */
  --divider-color: transparent;
  --divider-color-hover: var(--background-modifier-border);

  --nav-item-radius: 4px;
  --nav-item-padding: calc(var(--size-4-1) + 1px) var(--size-4-2) calc(var(--size-4-1) + 1px) var(--size-4-6);
  --search-icon-size: 14px;
  --header-height: 48px;

  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --titlebar-text-color: var(--color-base-60);
  --titlebar-text-color-focused: var(--color-base-70);

  --tab-background-active: var(--color-base-00);
  --tab-text-color: var(--text-faint);
  --tab-text-color-active: var(--text-muted);
  --tab-text-color-focused: var(--text-muted);
  --tab-text-color-focused-active: var(--text-muted);
  --tab-text-color-focused-highlighted: var(--text-accent);
  --tab-text-color-focused-active-current: var(--text-normal);
  --tab-container-background: var(--background-secondary);
  --tab-divider-color: transparent;
}

/* Link text */
a,
.markdown-source-view .cm-link {
  font-family: var(--font-mono) !important;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline !important;
  text-decoration-color: var(--color-base-30) !important;
  text-underline-offset: 2px;
  text-decoration-skip: auto;
  text-decoration-skip-ink: auto;
}

/* Expanded link URL */
.markdown-source-view .cm-url {
  font-family: var(--font-mono) !important;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.7;
}

.external-link {
  background-image: none;
  padding-right: 0px;
}

/* Expandable indicator */
.cm-fold-indicator {
  left: -4px;
}

.markdown-source-view.mod-cm6 .cm-indent::before {
  height: 0px;
}

/* Heading spacing */
.cm-contentContainer .cm-line.HyperMD-header {
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: -0.02em;
}

/* List item spacing */
.cm-line.HyperMD-list-line {
  padding-bottom: var(--list-item-spacing) !important;
}

/* Document title */
.inline-title {
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-base-30);
}

/* Table */
.cm-html-embed thead tr>th:first-child,
.markdown-rendered thead tr>th:first-child,
.cm-html-embed thead tr>th:last-child,
.cm-html-embed thead tr>th,
.markdown-rendered thead tr>th,
.cm-html-embed th,
.markdown-rendered th,
.markdown-rendered thead tr>th:last-child,
.cm-html-embed tbody tr>td:first-child,
.markdown-rendered tbody tr>td:first-child,
.cm-html-embed tbody tr>td:last-child,
.markdown-rendered tbody tr>td:last-child,
.cm-html-embed td,
.markdown-rendered td,
.cm-html-embed tbody tr:last-child>td,
.markdown-rendered tbody tr:last-child>td,
td {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

thead,
.table-wrapper thead {
  background-color: var(--color-base-10);
}

.el-table th,
th .table-cell-wrapper {
  font-family: var(--font-sans);
  color: var(--color-base-70);
}

.table-cell-wrapper {
  margin: 8px;
}

.el-table th,
.el-table td {
  padding: 16px;
}

/* Highlight */
.markdown-rendered mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: color-mix(in oklch, var(--color-yellow) 10%, transparent);
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-yellow);
  text-underline-offset: 2px;
}

/* Blockquote */
.cm-line.cm-active.HyperMD-quote.HyperMD-quote-1 {
  text-indent: -18px;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  text-indent: -20px;
}

.cm-line.HyperMD-quote.HyperMD-quote-1 {
  padding-inline-start: 20px !important;
}

.markdown-rendered blockquote,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before,
.markdown-source-view.mod-cm6 .cm-blockquote-border:before {
  border-inline-start-color: var(--color-base-30);
}

/* Callout */
.callout-title {
  font-family: var(--font-sans);
  font-size: 14px;
}

.markdown-source-view.mod-cm6 .callout {
  padding: 24px 24px 12px 24px;
}

.callout-icon .svg-icon {
  opacity: .5;
  transform: scale(.8);
}

.callout[data-callout="info"],
.callout[data-callout="note"],
.callout[data-callout="quote"],
.callout[data-callout="abstract"] {
  --callout-color: var(--text-muted);
}

.callout[data-callout="question"] {
  --callout-color: var(--color-yellow);
}

.callout {
  background-color: color-mix(in oklch, var(--callout-color) 5%, transparent);
}

/* Inline code */
pre code,
code,
.cm-html-embed.cm-embed-block pre code,
.cm-s-obsidian .cm-inline-code:not(.cm-formatting),
.cm-s-obsidian code:not(pre code),
.markdown-rendered code:not(pre code) {
  color: var(--color-base-100);
  background: var(--color-base-25);
  border-radius: 4px;
  border: solid 1px var(--color-base-30);
}

/* Wrap code when exporting PDF */
@media print {
  code[class*='language-'] {
    white-space: pre-wrap !important;
  }
}

/* Metadata */
.metadata-container {
  padding: 20px;
  border-radius: 8px;
  background: var(--color-base-05);
}

input.metadata-property-key-input {
  font-family: var(--font-mono) !important;
}

.metadata-input-longtext {
  color: var(--text-muted) !important;
}

.metadata-property-value[data-property-type="tags"] .multi-select-pill {
  --pill-color: var(--text-muted);
}

.metadata-property-value[data-property-type="tags"] .multi-select-pill {
  --pill-background: transparent;
  --pill-background-hover: var(--color-base-25);
  --pill-color-hover: var(--text-muted);
  --pill-border-color: var(--color-base-30);
  --pill-border-color-hover: var(--color-base-25);
  --pill-border-width: 1px;
  --pill-color-remove: var(--text-faint);
  --pill-color-remove-hover: var(--color-red);
}

.multi-select-pill-remove-button:hover {
  --pill-color-remove-hover: var(--color-red) !important;
}

.multi-select-pill-remove-button {
  cursor: pointer;
}

.text-icon-button {
  background: var(--color-base-25);
  cursor: pointer;
}

/* Checkboxes */
.cm-line.HyperMD-list-line.HyperMD-list-line-1.HyperMD-task-line {
  text-indent: -24px !important;
  padding-inline-start: 24px !important;
}

.markdown-source-view.mod-cm6 .task-list-label {
  margin-inline-start: -10px;
}

ul>li.task-list-item[data-task="x"],
ul>li.task-list-item[data-task="X"],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] {
  text-decoration: none;
  color: var(--text-normal);
}

/* Scrollbar */
body:not(.styled-scrollbars) {
  scrollbar-color: var(--color-base-35) transparent !important;
}

* {
  scrollbar-width: thin !important;
}

/* Hide vault name unless hovered */
.workspace-sidedock-vault-profile {
  opacity: 0;
  transition: var(--anim-duration-moderate);
}

.workspace-sidedock-vault-profile:hover {
  opacity: 1;
}

/* Hide sidebar button(s) */
.sidebar-toggle-button.mod-right,
.sidebar-toggle-button.mod-left {
  display: none;
}

.mod-macos.is-hidden-frameless:not(.is-popout-window) .workspace .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
  padding-right: 4px;
}

/* Hide file nav header */
.workspace-leaf-content[data-type=file-explorer] .nav-header {
  display: none;
}

/* Hide top bar unless hovered */
.nav-file-title,
.nav-folder-title {
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0
}

body:not(.show-sidebar-header-buttons) :is(.mod-left-split, .mod-right-split) :is(.workspace-tab-header-container, .workspace-tab-header-container-inner) {
  transition: var(--anim-duration-moderate);
}

body:not(.show-sidebar-header-buttons) :is(.mod-left-split, .mod-right-split) .workspace-tabs.mod-top .workspace-tab-header-container:not(:hover) .workspace-tab-header-container-inner {
  opacity: 0
}

.workspace-split.mod-left-split .workspace-sidedock-vault-profile,
.workspace-tab-header-new-tab,
.workspace-tab-header:only-child .workspace-tab-header-inner-close-button,
.mod-stacked .workspace-tab-header .workspace-tab-header-inner-close-button,
.workspace-tab-header-inner-close-button,
.workspace-tab-header-tab-list,
.mod-root .workspace-tab-header-container:not(:has(.workspace-tab-header+.workspace-tab-header)) {
  display: none;
}

/* Status bar */
.status-bar {
  font-family: var(--font-mono);
  border-top: 1px solid var(--color-base-25);
  border-left: 1px solid var(--color-base-25);
  transition: var(--anim-duration-moderate);
  transition-delay: var(--transition-delay-passing-over-protection)
}

/* Sidebar */
.tree-item-self.mod-collapsible {
  font-weight: 600;
}

.nav-file-title,
.nav-folder-title {
  font-size: 12px;
  font-family: var(--font-mono);
}
